<h3 style='margin-top:-5px'><span class="material-icons-two-tone md-36">brush</span>Giao diện</h3>
<div class='mt-4' style='background-color: {{content.colorForm}}'>
    <form method='POST' action="/content/view?_method=PUT">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Tên cửa hàng</label>
                <input type="text" class="form-control"  value='{{content.shopName}}' id="shopName" name='shopName' required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Màu sắc navbar</label>
                <input  type='color' class="form-control" value='{{content.colorNavbar}}' name='colorNavbar' required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Màu sắc nền sản phẩm</label>
                <input  type='color' class="form-control" value='{{content.colorBackground}}' name='colorBackground' required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Màu sắc Form</label>
                <input  type='color' class="form-control" value='{{content.colorForm}}' name='colorForm' required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Link Facebook</label>
                <input type="text" class="form-control"  value='{{content.linkFB}}' id="linkFB" name='linkFB' pattern="(http|https)://.+" title='Nhập đúng định dạng URL'>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="name">Link Instagram</label>
                <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.linkInsta}}' id="linkInsta" name='linkInsta'>
            </div>
            <div class="form-group col-md-4">
                <label for="name">Link Twitter</label>
                <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.linkTW}}' id="linkTW" name='linkTW'>
            </div>
        </div>
        <div class="mb-3" style='margin-top:10px'>
            <label for="description" >Trang 'Về chúng Tôi'</label>
            <textarea class="form-control" id="aboutusContent1" id="mytextarea" name='aboutusContent' style='height: 500px'required>{{content.aboutusContent}}</textarea>
        </div>
        <div class="mb-3">Hình Poster 1 (830x300)</label>
            <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.poster1}}' id="poster1" name='poster1'>
        </div>
        <div class="mb-3">Hình Poster 2 (830x300)</label>
            <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.poster2}}' id="poster2" name='poster2'>
        </div>
        <div class="mb-3">Hình Poster 3 (830x300)</label>
            <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.poster3}}' id="poster3" name='poster3'>
        </div>
        <div class="mb-3">Hình Poster 4 (1200x90)</label>
            <input type="text" class="form-control" pattern="(http|https)://.+" title='Nhập đúng định dạng URL' value='{{content.poster4}}' id="poster4" name='poster4'>
        </div>
        <div class="mb-3">Thông tin liên hệ (số điện thoại/cửa hàng)</label>
            <input type="text" class="form-control"  value='{{content.contact}}' id="contact" name='contact'>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block "><span class="material-icons">save</span>Lưu lại</button>
    </form>


</div>