<div class='aboutus'>
    <h2>Giới thiệu {{content.shopName}}</h2><br>
    <h3>{{content.aboutusHeading1}}</h3><br>
    <p>{{content.aboutusContent1}}<br></p><br>
    <h3>{{content.aboutusHeading2}}</h3><br>
    <p>{{content.aboutusContent2}}</p><br>
    <h3>{{content.aboutusHeading3}}</h3><br>
    <p>{{content.aboutusContent3}}</p><br>
</div>
<style>
    .aboutus{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h2 {
    text-align: center;
    }
    h3 {
        text-align: left;
    }
    p {
        text-align: justify;
    }
    
</style>

