<h3 style='margin-top:-5px'>Hồ sơ của tôi</h3><button type="button" class="btn btn-light" onclick="window.location.href='/me/edit'"><span class="material-icons">edit</span></button>
<div class='mt-4' style='background-color: {{content.colorForm}}'>
    <img src='{{user.avatar}}' style='max-width:10%' class="img-thumbnail"><br>
    <p class="font-weight-bold">Họ tên đầy đủ: &ensp;<p class="font-weight-light">{{user.fullName}}</p></p><br>
    <p class="font-weight-bold">Email: &ensp;<p class="font-weight-light">{{user.email}}</p></p><br>
    <p class="font-weight-bold">Số điện thoại: &ensp;<p class="font-weight-light">{{user.phoneNumber}}</p></p><br>
    <p class="font-weight-bold">Số căn cước công dân/CMND: &ensp;<p class="font-weight-light">{{user.ID}}</p></p><br>
    <p class="font-weight-bold">Địa chỉ thường trú: &ensp;<p class="font-weight-light">{{user.address}}</p></p><br>
    <p class="font-weight-bold">Ngày sinh: &ensp;<p class="font-weight-light">{{user.dateofBirth}}</p></p><br>
    <p class="font-weight-bold">Thời gian tạo tài khoản: &ensp;<p class="font-weight-light">{{user.createdAt}}</p></p><br>
    <p class="font-weight-bold">Thời gian cập nhật: &ensp;<p class="font-weight-light">{{user.updateAt}}</p></p><br>
    <p class="font-weight-bold">Quyền hạn của tài khoản: &ensp;<p class="font-weight-light">{{user.role}}</p></p><br>
</div>
<style>
    p {
        display: inline-block;
        vertical-align: top;
    }
    h3 {
        display: inline-block; 
        margin:5px;
    }
    .btn-light{
    }
    .material-icons{
        font-size: 14px;
        line-height: 30px;
    }
</style>