<form name='container-form' method='POST' action="/orders/restoreMany?_method=PATCH">
  <h3 ><span class="material-icons-two-tone md-36">manage_search</span>Đơn hàng đã xóa</h3>
  <a href='/me/orders' style='margin-right: 900px'>Danh sách đơn hàng</a>
  <div class="form-check" style='display:inline-block;margin-right:40px'>
    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
    <label class="form-check-label" for="checkbox-all">
      Chọn tất cả
    </label>
  </div>
  <button type="submit" class="btn btn-success btn-sm checkallSubmitBtn">Khôi phục nhiều đơn hàng</button>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">

      <table class="table table-bordered table-striped mb-0 shadow-sm p-3 rounded">
        <thead>
          <tr>
            <th scope="col" colspan='2'>#</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col" >Thời gian xóa
              {{{sortable 'deletedAt' _sort}}}
            </th>
            <th scope="col">Trạng thái
              {{{sortable 'status' _sort}}}
            </th>
            <th scope="col"colspan='2'>Hành động</th>

          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="{{this._id}}" name='orderIds[]'>
                </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.deletedAt}}</td>
            <td class='status-show'>{{this.status}}</td>
            <td>
                <button type="button" class="btn btn-light btn-sm btn-restore" data-id='{{this._id}}'><span class="material-icons-two-tone">restore_from_trash</span></button>
                <a data-toggle="modal" data-id='{{this._id}}' data-target="#delete-order" style='cursor:pointer'><span class="material-icons">backspace</span></a>
            </td>

          </tr>
          {{else}}
          <tr>
            <td colspan="7" class='text-center'>
              Không có đơn hàng nào bị xóa. <a href='/me/orders'> danh sách đơn hàng</a>
            </td>
          </tr>
          {{/each}}
          
          
        </tbody>
      </table>
  </div>
</form>
<p id='role' class='hidden'>{{user.role}}</p>

<!-- Modal -->
<div class="modal fade" id="delete-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa đơn hàng vĩnh viễn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể hoàn tác, bạn chắc chắn muốn xóa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
        <button type="button" id='btn-delete' class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

<form name='delete-form-order' method='POST'></form>
<form name='restore-form-order' method='POST'></form>
<script>
    document.addEventListener('DOMContentLoaded', function (){

        var orderId;
        var deleteForm = document.forms['delete-form-order'];
        var restoreForm = document.forms['restore-form-order'];
        var btnDelete = document.getElementById('btn-delete');
        var checkboxAll = $('#checkbox-all');
        var orderCheckbox = $('input[name="orderIds[]"]');
        var checkallSubmitBtn = $('.checkallSubmitBtn');
        var containerForm = document.forms['container-form'];
        var btnRestore = $('.btn-restore')
        $('#delete-order').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        orderId = button.data('id')
        console.log(orderId)
       
        })
        btnDelete.onclick = function () {
            deleteForm.action = "/orders/" + orderId + "/force?_method=DELETE";
            deleteForm.submit()
        }
        btnRestore.click(function(){
          var orderId = $(this).data('id')
          restoreForm.action = "/orders/" + orderId + "/restore?_method=PATCH";
          restoreForm.submit()
        })
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked');
          orderCheckbox.prop('checked', isCheckedAll);
          renderCheckedAllSubmitBtn()
        })
        orderCheckbox.change(function(){
          var isCheckedAll = orderCheckbox.length === $('input[name="orderIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckedAllSubmitBtn()
        })
        

        function renderCheckedAllSubmitBtn(){
          var checkedCount = $('input[name="orderIds[]"]:checked').length
          if (checkedCount > 0){
            checkallSubmitBtn.attr('disabled', false)

          }else{
            checkallSubmitBtn.attr('disabled', true)
          }
        }
        renderCheckedAllSubmitBtn()

        var status = document.getElementsByClassName('status-show')
        for (var i = 0; i < status.length; i++){
          if (status[i].innerHTML == 'a'){
              status[i].innerHTML = 'Mới'
          }else if (status[i].innerHTML == 'b'){
              status[i].innerHTML = 'Đã xác nhận'
          }else if (status[i].innerHTML == 'c'){
              status[i].innerHTML = 'Đang giao hàng'
          }else if (status[i].innerHTML == 'd'){
              status[i].innerHTML = 'Hoàn thành'
          }
        }

        
    })
    var role = document.getElementById('role')
    var btnDelete = document.getElementById('btn-delete');
    console.log(role.innerHTML)
    if ( role.innerHTML !== 'Admin'){
      btnDelete.setAttribute('disabled', true)
    }else {
      btnDelete.removeAttribute('disabled')
    }

    
</script>